@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    min-height: 100%;
}

body {
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    font-family: "Inconsolata", sans-serif;
    font-weight: bold;
}

button {
    width: 10rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.2rem;
    cursor: pointer;
}

input {
    background: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.2rem;
}

input[type="text"] {
    border: 1px solid black;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
}

button:hover {
    background-color: #f0ece7;
}

.main-container {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.title {
    justify-self: center;
    font-size: 3rem;
}

.refresh {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.new-game {
    border-color: white;
    color: white;
    
}

.intro-container {
    height: 40rem;
    width: 40rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.137);
}

.intro-img {
    position: absolute;
    border-radius: 1rem;
    height: 40rem;
    width: 40rem;
    z-index: -1;
}

.img-title-container {
    position: absolute;
    height: 12rem;
    width: 35rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    z-index: 0;
}

.input-container {
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 2rem;
}

.begin {
    margin: 0 auto;
}

.vh-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 5rem;
}

.vh-container input {
    border: none;
    width: 100%;
    height: 2rem;
}

.sizes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.size.active {
    border-radius: 1rem;
    background-color: #2a35b141;
    font-size: 3rem;
}

.game-container {
    width: 40rem;
    height: 40rem;
    display: flex;;
}

.index-v {
    position: absolute;
    height: 40rem;
    width: 4rem;
    margin-left: -4rem;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    align-items: center;
}

.index-h {
    position: absolute;
    height: 4rem;
    width: 40rem;
    margin-top: -4rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
}

.grid-container {
    width: 41rem;
    height: 41rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.137);
    border-radius: 1rem;
}

.grid {
    border: .01px solid rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

.grid.active {
    cursor: initial;
    opacity: 50%;
}

#grid-00 {
    border-top-left-radius: 1rem;
}

#grid-09 {
    border-top-right-radius: 1rem;
}

#grid-90 {
    border-bottom-left-radius: 1rem;
}

#grid-99 {
    border-bottom-right-radius: 1rem;
}

.grid:hover {
    background-color: #505cda;
}

.board-description {
    position: absolute;
    margin-left: 16rem;
    margin-top: 42rem;
    font-size: 1.2rem;
}

.spacer {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 3rem;
}

.winner-container {
    position: absolute;
    height: 10rem;
    width: 30rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    z-index: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 1rem;
}

.fa-github {
    color: #2a36b1;
    font-size: 2rem;
}

.fa-github:hover {
    transform: scale(1.2);
}